/* RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----GENERAL----- */

.container{
    width: 100%;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

/* ----------HEADER---------- */
header{
    background-color: #0084fd;
    color: white;
}

header div.header-nav{
    padding: 1rem;
}

