/* RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----GENERAL----- */

body{
    font-family: 'Roboto', sans-serif;
}

.container,
.small-container{
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.bg-purple{
    background-color: #9792e4;
    color: white;
}

.blu-txt{
    color: #0084fd;
}

.purple-txt{
    color: #9792e4;
}

/* BUTTOnS */
.btn{
    padding: .5rem 1.2rem;
    border-radius: 1rem;
}

.btn-white{
    background-color: white;
    color: black;
}
.btn-white:hover{
    background-color: black;
    color: white;
}

.btn-blue{
    background-color: #0084fd;
    color: white;
}
.btn-blue:hover{
    color: #0084fd;
    background-color: white;
}

.btn-purple{
    background-color: #9792e4;
    color: white;
}
.btn-purple:hover{
    color: #9792e4;
    background-color: white;
}

.btn-reverse-purple{
    color: #9792e4;
    background-color: white;
}
.btn-reverse-purple:hover{
    background-color: #9792e4;
    color: white;
}
/* ----------HEADER---------- */
header{
    background-color: #0084fd;
    color: white;
}

header div.header-nav{
    padding: 1rem;
}

header nav ul li{
    list-style: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

header nav ul li a{
    text-decoration: none;
    color: white
}

header li.nav-items{
    display: none;
}

header li#humburgher{
    font-size: 1.5rem;
    display: block;
}

header li#humburgher a:hover{
    color: black;
}

/* ----------MAIN---------- */

main>section{
    margin-top: 2rem;
}

/* Section Header Card */

section#intro-card{
    margin-top: 2rem;
}

div.cards{
    flex-direction: column;
}

div.card{
    width: 90%;
    background-color: #b5ddff;
    border: 10px solid white;
    
    border-radius: 2.5rem;
}

div.small-card{
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

div.small-card i{
    font-size: 6rem;
}

div.small-card h2{
    margin: 1rem 3rem;
}

div#big-card{
    flex-direction: column;
}

section.card-txt p,
div.small-card p{
    color: #515e69;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2rem 0;
}

div.small-card p{
    font-size: 1.2rem;
    margin: .6rem 0;
}

section.card-txt{
    padding: 2rem;
}

section.card-txt a{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

div.card-img img{
    display: block;
    width: 300px;
}

div.block-red{
    width: 150px;
    height: 150px;
    background-color: red;
}

/* Section Strategic Planning */
div.planning-container{
    padding: 6rem 0;
}

div.planning{
    padding: 1rem;
    margin-top: 1rem;
}

        /* Planning Strategic */
div.planning-strategic img{
    width: 100%;
}

div.planning-strategic h2{
    font-size: 2rem;
    margin: 3rem 0;
}

div.planning-strategic p{
    font-size: 1.3rem;
}

        /* Planning Dev */
div.planning-dev{
    background-color: white;
    border-radius: 2rem;
    color: black;
    margin: 0 1.5rem;
    text-align: center;
}

div.planning-dev img{
    width: 100%;
}

div.planning-dev h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

div.planning-dev p{
    font-style: italic;
}

div.planning-dev i{
    background-color: #9792e4;
    border-radius: 50%;
    padding: .8rem 1rem;
    font-size: 1.5rem;

    margin-top: 1rem;
}


/* Section Testimonial */
section#testimonial section.testimonial-title{
    text-align: center;
    padding: 1rem 2rem;
}

        section#testimonial section.testimonial-title span{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 500;

        }

        section#testimonial section.testimonial-title h2{
            font-size: 3rem;
            margin: 2rem 0;
        }

        section#testimonial section.testimonial-title p{
            font-size: 1.5rem;
        }

section#testimonial div.testimonial-cards{
    flex-direction: column;
}

div.testimonial-cards div.testimonial-card{
    flex-direction: column;
    
    text-align: center;
    background-color: #9792e4;
    margin: 1rem 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

    /* inside card */
div.testimonial-card div.profile-img{
    height: 100%;
}

div.testimonial-card div.profile-img div.import-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------ID IMG */
#nat{
    background-image: url(../img/testimonial1.jpg);
}

#celia{
    background-image: url(../img/testimonial2.jpg);
}

#bob{
    background-image: url(../img/testimonial3.jpg);
}
/* ID IMG------ */

div.testimonial-comment{
    color: white;
}

div.testimonial-comment p{
    margin: 2rem 0;
}

div.testimonial-comment p i{
    font-size: 1.5rem;
}

div.testimonial-comment span.testimonial-name{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Section Benefits */
section#benefits h2{
    text-align: center;
    font-size: 2.5rem;
    padding: 4rem 2rem 1rem;
}

section#benefits div.benefits-cards{
    flex-direction: column;
    padding: 3rem 2rem;

}

section#benefits div.benefits-card{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-bottom: 1rem;

    padding: 2rem;
}



div.benefits-card span.number{
    font-weight: bolder;
    font-size: 3rem;
}

div.benefits-card h3{
    font-size: 2rem;
    margin: 2rem 0;
}

div.benefits-card p{
    color: grey;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

div.benefits-card a{
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 4rem;
}

/* Section About Us */

div.aboutus-container{
    flex-direction: column;
    padding: 1rem;
}

div.aboutus-user-linkedin{
    margin-top: 2rem;
    width: 100%;
}

div.aboutus-container{
    padding: 1.5rem;
}

div.aboutus-txt h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}

div.aboutus-txt p{
    line-height: 2;
    margin-bottom: 4rem;
}

div.aboutus-txt p:last-child{
    margin-bottom: 1rem;
}

    /* User Linkedin */
div.aboutus-user-linkedin-img{
    width: 30vw;
    height: 30vw;

    position: relative;
}

div.aboutus-user-linkedin-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

div.aboutus-user-linkedin-img i{
    position: absolute;
    top: 0;
    right: 0;

    font-size: 4rem;
}

div.aboutus-user-linkedin p{
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1rem;
}

div.aboutus-user-linkedin a{
    display: inline-block;
    margin: 2rem 0;
}

/* Section Get Start */
section#getstart{
    text-align: center;
}

div.getstart-container{
    padding: 1rem;
}

/* ----------FOOTER---------- */
footer{
    background-color: #333333;
    color: white;
    text-align: center;

    padding: 1rem;
}

footer p{
    margin-bottom: 1rem;    
}










/* --------------------------------------------------------------------------------
                                RESPONSIVE
-------------------------------------------------------------------------------- */

/* TABLET */
@media screen and (min-width: 768px) {

    /* -----GENERAL----- */
    .container{
        width: 95%;
    }

    .small-container{
        width: 90%;
    }

    /* ----------MAIN---------- */

    /* Section Header Card */
    div.cards{
        flex-wrap: wrap;
        flex-direction: row;

        align-items: flex-end;
    }
    div.card:first-child{
        width: calc((100% / 3) * 2);
    }

    div.card{
        width: calc(100% / 3);
        height: 600px;
    }

    /* Section Testimonial */
    div.testimonial-cards div.testimonial-card{
        flex-direction: row;
        text-align: start;
    }

    div.testimonial-card div.profile-img{
        margin-right: 2rem;
    }

    /* Section Benefits */
    section#benefits div.benefits-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    section#benefits div.benefits-card{
        width: calc((100% / 2) - 1rem);
        margin-left: 1rem;
    }

    /* Section About Us */
    div.aboutus-container{
        flex-direction: row;
        align-items: flex-start;
    }

    div.aboutus-user-linkedin{
        margin-left: 5rem;
    }

}










/* DEKSTOP */
@media screen and (min-width: 992px) {

    /* -----GENERAL----- */
    .container{
        width: 80%;
    }

    .small-container{
        width: 70%;
    }
    /* ----------HEADER---------- */
    header li.nav-items{
        display: inline-block;
    }

    header li#humburgher{
        display: none;
    }
    

    /* ----------MAIN---------- */

    /* Section Header Card */
    div.card{
        height: 600px;
    }

    div.card-img{
        height: 100%;
        align-items: flex-end;
        display: flex;
    }

    div#big-card{
        flex-direction: row;
    }

    section.card-txt a.btn {
        padding: .5rem;
      }
    /* Section Strategic Planning */
    
    div.planning-container{
        padding: 3rem 0;
    }

    div.planning-container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    div.planning-strategic{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    div.planning-strategic img{
        width: 80%;
    }

    div.planning-strategic p{
        font-size: 1.5rem;
    }

    div.planning-dev{
        width: 30%;
        height: 100%;
        align-items: flex-end;
    }

    /* Section Testimonial */
    div.testimonial-card div.profile-img{
        margin-right: 2rem;
    }

    /* Section Benefits */
    section#benefits div.benefits-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    section#benefits div.benefits-card{
        width: calc((100% / 3) - 1rem);
        margin-left: 1rem;
    }

    /* Section About Us */

        /* User Linkedin */
    div.aboutus-user-linkedin-img{
        width: 20vw;
        height: 20vw;
    }

    div.aboutus-user-linkedin p{
        font-size: 2rem;
    }
    
}
